*{
    margin: 0%;
    padding: 0%;
} 

:root {
    --color-turquesa:#186CC3;
    --color-celesteclaro: #52B5F2;
    --color-rosa: #d966ba;
     
}

.container{
    /* background: radial-gradient(circle, #ffcccc, #ff9999); */
    background: radial-gradient(circle, #fcb6e9, #d966ba);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items{
    height: 10vh;
    /* background-color: #001F3F; */
    background-color: var(--color-turquesa);
    width: 30vw;
    text-align: center;
    border-radius: 10vw;
    padding:1vw;
    box-sizing:border-box;
    margin-bottom: 2vh;

}
a{
    font-size: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: aliceblue;
    
}