<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar_usuario.css') }}">
    <title>App Admin - Editar</title>
</head>
<body>
    <header></header>
    
    <main>
        <div id="cont-main">
            <div id="cont-formulario">
                <div id="titulo">
                    <h1>Actualizar Datos</h1>
                    <h2>Datos Actuales:</h2>
                    <table>
                        <tr>
                            <td>ID: {{ usuario.id }}</td>
                            <td>Nombre: {{ usuario.nombre }}</td>
                            <td>Apellido: {{ usuario.apellido }}</td>
                            <td>Nombre de usuario: {{ usuario.nombre_usuario }}</td>
                            <td>Correo: {{ usuario.correo }}</td>
                            <td>Contraseña: {{ usuario.contraseña }}</td>
                            <td>Sexo: {{ usuario.sexo }}</td>
                            <td>País: {{ usuario.pais }}</td>
                            <td>Imagen de Usuario: <img src="{{ usuario.imagen }}" alt="imagenUsuario"></td>
                        </tr>
                    </table>
                </div>
                <form action="{{ url_for('editar_usuario', id=usuario.id) }}" method="POST">
                    <div>
                        <label for="id">ID</label>
                        <input type="number" name="id" id="id" value="{{ usuario.id }}" disabled>
                    </div>
    
                    <div>
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" value="{{ usuario.nombre }}">
                    </div>
    
                    <div class="entrada">
                        <label for="apellido">Apellido:</label>
                        <input type="text" name="apellido" id="apellido" value="{{ usuario.apellido }}">
                    </div>
    
                    <div class="entrada">
                        <label for="nombre_usuario">Nombre de usuario:</label>
                        <input type="text" name="nombre_usuario" id="nombre_usuario" value="{{ usuario.nombre_usuario }}">
                    </div>
    
                    <div class="entrada">
                        <label for="correo_electronico">Correo electrónico:</label>
                        <input type="email" name="correo_electronico" id="correo_electronico" value="{{ usuario.correo }}">
                    </div>
    
                    <div class="entrada">
                        <label for="contraseña">Contraseña:</label>
                        <input type="password" name="contraseña" id="contraseña" value="{{ usuario.contraseña }}">
                    </div>
    
                    <div class="entrada">
                        <label for="sexo">Sexo:</label>
                        <input type="text" name="sexo" id="sexo" value="{{ usuario.sexo }}">
                    </div>
    
                    <div class="entrada">
                        <label for="pais">País:</label>
                        <input type="text" name="pais" id="pais" value="{{ usuario.pais }}">
                    </div>
    
                    <div class="entrada">
                        <label for="imagen">Imagen:</label>
                        <input type="text" name="imagen" id="imagen" value="{{ usuario.imagen }}">
                    </div>
    
                    <button class="modificar" type="button" onclick="modificar()">MODIFICAR</button>
                </form>
    
                <br>
                <a href="{{ url_for('tabla_usuarios') }}" style="color: black;">Volver a Tabla de Usuarios</a>
            </div>
        </div>
    </main>
    
    <footer></footer>
    <script>
        const urls = {
            tabla_usuarios: "{{ url_for('tabla_usuarios') }}",
            ingresar_usuario: "{{ url_for('ingresar_usuario') }}"
        };
    </script>
    <script src="{{ url_for('static', filename='js/editar_usuario.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header_editar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datos_editar.js') }}"></script>
</body>
</html>

