<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <h1>Bienvenido al Dashboard</h1>
    <p> ACA TENEMOS QUE REDIRIGIR A LA PAGINA PERO CON EL CERRAR SESION Y LOS CAMBIOS DE NOMBRE DEL USUARIO ETC</p>
    <p>Aquí puedes agregar contenido relevante para el usuario después de iniciar sesión.</p>
    <p>Puedes incluir enlaces a otras partes de la aplicación, estadísticas importantes, o cualquier otra información útil.</p>
    <a href="{{ url_for('logout') }}">Cerrar sesión</a>
    <p>chau</p>
</body>
</html>
