<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ingresar_usuario.css') }}">
    <title>App Admin - Registrar</title>
</head>

<body>

    <header id="header"></header>

    <main>

        <section>
            <div class="container-form">

                <form action="">
                    <div class="entrada">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>

                    <div class="entrada">
                        <label for="apellido">Apellido:</label>
                        <input type="text" name="apellido" id="apellido">
                    </div>

                    <div class="entrada">
                        <label for="nombre_usuario">nombre usuario:</label>
                        <input type="text" name="nombre_usuario" id="nombre_usuario">
                    </div>

                    <div class="entrada">
                        <label for="correo_electronico">correo electrónico</label>
                        <input type="email" name="correo" id="correo">
                    </div>

                    <div class="entrada">
                        <label for="contraseña">contraseña</label>
                        <input type="password" name="contraseña" id="contraseña">
                    </div>

                    <div class="entrada">
                        <label for="sexo">Sexo:</label>
                        <input type="text" name="sexo" id="sexo">
                    </div>

                    <div class="entrada">
                        <label for="pais">País:</label>
                        <input type="text" name="pais" id="pais">
                    </div>

                    <div class="entrada">
                        <label for="imagen">Imagen:</label>
                        <input type="text" name="imagen" id="imagen">
                    </div>
                    <div>
                        <label for="rol">Rol de usuario (Ingresar 1- USUARIO 2- ADMINISTRADOR):</label>
                        <input class="input-form" type="number" id="rol" name="rol" required>                     
                    </div>

                    <div class="entrada">
                        <button class="modificar" type="button" onclick="guardar()">Guardar</button>
                    </div>

                </form>

            </div>
        </section>

    </main>

    <footer></footer>
    <script>
        const urls = {
            ingresar_usuario: "{{ url_for('ingresar_usuario') }}",
            tabla_usuarios: "{{url_for ('tabla_usuarios')}}",
        };
    </script>
    <script src="{{ url_for('static', filename='js/ingresar_usuario.js')}}"></script>
    <script src="{{ url_for('static', filename='js/header_ingresar.js')}}"></script>
</body>

</html>