<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Links</title>
</head>
<body>

    <!-- Define un objeto `urls` con las URLs de tus rutas -->
    <script>
        const urls = {
            tabla_usuarios: `${url_for('tabla_usuarios')}`,
            ingresar_usuario: `${url_for('ingresar_usuario')}`
            // Puedes agregar más URLs según tus necesidades
        };
    </script>

    <!-- Incluye tu archivo JavaScript principal (main.js) donde utilizarás las URLs -->
    <script src="main.js"></script>
</body>
</html>
