<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/trailers.css"> 
    <script src="https://kit.fontawesome.com/ce63497daf.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../static/img/icon-fontawesome.png" type="image/png">
    <title>Trailers</title>
</head>

<body>
    <header>
        <div id="cont-header">
            <div>
                <img id="logo-header" src="../static/img/logo.jpg" alt="logo">
            </div>

            <p id="nombre-web">Ratón Gamer</p>

            <nav id="menu-header">
                <a class="hipervinc-header" href="../index.html">Inicio</a>
                <a class="hipervinc-header" href="reseñas.html">Reseñas</a>
                <a class="hipervinc-header" href="foro.html">Foro</a>
                <a class="hipervinc-header" href="registrarse.html">Registrarse</a>
                <a class="hipervinc-header" href="iniciar-sesion.html">Iniciar sesión</a>
            </nav>
        </div>
    </header>

    <main>

        <div>
            <div>
                <h1 id="titulo">Trailers 2024</h1>
            </div>

            <div class="trailers">
                <div class="trailer">
                    <iframe class="video" src="https://www.youtube.com/embed/MmX7a_e65uU?si=Z9mTBVo5IEcZCuYZ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="trailer">
                    <iframe class="video" src="https://www.youtube.com/embed/NsEhtwkHDt0?si=g76WoxbtyRBz5eOq"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="trailer">
                    <iframe class="video" src="https://www.youtube.com/embed/KOhs9ZLImgE?si=KXAzyySkkNc92uPf"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="trailer">
                    <iframe class="video" src="https://www.youtube.com/embed/cT0rIgaiPWA?si=h5uM17ke5mgkoOMG"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="trailer">
                    <iframe class="video" src="https://www.youtube.com/embed/VUyP21iQ_-g?si=o0I1T5vFApliFKod"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="trailer">
                    <iframe class="video" src="https://www.youtube.com/embed/603dCoqtoeE?si=-wpYbcfqWO9D4l3R"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <div id="cont-grupo-1">
            <div class="box">

                <a href="#">
                    <img id="logo-footer" src="../static/img/logo.jpg" alt="logo">
                </a>

            </div>
            <section id="cont-webjuegos">
                <h2 class="titulo-footer">Comprar Juegos</h2>
                <div>
                    <ul>
                        <li><a class="webs-juegos" href="https://epicgames.com/store" target="_blank">Epic Games</a></li>
                        <li><a class="webs-juegos" href="https://store.steampowered.com/" target="_blank">Steam</a></li>
                        <li><a class="webs-juegos" href="https://www.gog.com/" target="_blank">GOG (Good Old Games)</a></li>
                        <li><a class="webs-juegos" href="https://steamcito.com.ar/" target="_blank">Steamsito</a></li>
                    </ul>
                </div>
            </section>
            <section id="redes">
                <h2 class="titulo-footer"> Redes sociales </h2>
                <div id="cont-redes">
                    <a class="hipervinc-red" href="https://facebook.com" target="_blank">
                        <img class="img-red" src="../static/img/redes-sociales/facebook.png" alt="logo-faceboook">
                    </a>
                    <a class="hipervinc-red" href="https://www.instagram.com" target="_blank">
                        <img class="img-red" src="../static/img/redes-sociales/instagram.png" alt="logo-instagram">
                    </a>
                    <a class="hipervinc-red" href="https://www.youtube.com" target="_blank">
                        <img class="img-red" src="../static/img/redes-sociales/youtube.png" alt="logo-youtube">
                    </a>
                    <a class="hipervinc-red" href="https://www.twitch.tv/" target="_blank">
                        <img class="img-red" src="../static/img/redes-sociales/twitch.png" alt="logo-twitch">
                    </a>
                </div>
            </section>
        </div>
        <div id="cont-grupo-2">
            <p id="derechos">&copy; 2024 <b>Ratón Gamer</b> - Todos los Derechos Reservados.</p>
        </div>
    </footer>

</body>

</html>

