<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://kit.fontawesome.com/ce63497daf.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/static/img/icon-fontawesome.png" type="image/png">
    <title>Ratón Gamer - Inicio</title>
</head>


<body>
    <header>
        <h1 style="color: white;text-align: center;">BIENVENIDO QUERIDO MIEMBRO DE NUESTRA COMUNIDAD</h1>
        <div id="cont-header">
            <div>
                <img id="logo-header" src="img/logo.jpg" alt="logo">
            </div>

            <p id="nombre-web">Ratón Gamer</p>
            <nav id="menu-header">
                <a class="hipervinc-header" href="{{ url_for('trailers') }}">Trailers</a>
                <a class="hipervinc-header" href="{{ url_for('reseñas') }}">Reseñas</a>
                <a class="hipervinc-header" href="{{ url_for('foro') }}">Foro</a>
                <a class="hipervinc-header" href="{{ url_for('actualizarPerfil') }}">Perfil</a>
                <a class="hipervinc-header" href="{{ url_for('cerrar_sesion') }}">Cerrar Sesion</a>
            </nav>
        </div>
                    
    </header>

    <main>
        
        <div id="animacion">
            <!--Imagenes en @keyframes personajes de css-->
        </div>


        <h1 class="titulo-seccion">Ranking 2024</h1>
        <div class="rank2024-carrusel">
            <ul>
                <li>
                    <img src="/static/img/ranking-2024/Prince-of-persia.1.JPG" alt="">
                    <div class="texto">
                        <h2>#1</h2>
                    </div>
                </li>
                <li>
                    <img src="/static/img/ranking-2024/final-fantasy.1.JPG" alt="">
                    <div class="texto">
                        <h2>#2</h2>
                    </div>
                </li>
                <li>
                    <img src="/static/img/ranking-2024/like-a-dragon.jpg" alt="">
                    <div class="texto">
                        <h2>#3</h2>
                    </div>
                </li>
                <li>
                    <img src="/static/img/ranking-2024/dragons-dogma.2.jpg" alt="">
                    <div class="texto">
                        <h2>#4</h2>
                    </div>
                </li>
                <li>
                    <img src="/static/img/ranking-2024/Balatro.jpeg" alt="">
                    <div class="texto">
                        <h2>#5</h2>
                    </div>
                </li>
            </ul>
        </div>

        <section id="cont-noticias">
            <div>
                <h3 class="titulo-seccion">Noticias</h3>
            </div>

            <div id="noticias">
                <div class="noticia">
                    <img class="imagen-juego" src="/static/img/batman.JPG" alt="img-batman">
                    <div class="a-estilo">
                        <a class="hipervinc-not" href="https://vandal.elespanol.com/noticia/1350770968/batman-arkham-shadow-es-el-nuevo-videojuego-del-caballero-oscuro-sera-para-rv-y-llegara-este-ano/
                         " target="_blank">Batman: Arkham Shadow es el nuevo videojuego del caballero oscuro, será para
                            RV y llegará este año.</a>
                    </div>
                    <p class="intro-not">El icónico superhéroe de DC regresará con un título que está siendo
                        desarrollado por Camoulaj y Oculus Studios que nos darán más información sobre el mismo en el
                        Summer Game Fest.
                    </p>
                </div>
                <div class="noticia">
                    <img class="imagen-juego" src="/static/img/operation-galuga.JPG" alt="img-operation-galuga">
                    <div class="a-estilo">
                        <a class="hipervinc-not"
                            href="https://www.noticiascaracol.com/videojuegos/resena-contra-operation-galuga-rg10"
                            target="_blank">Operation Galuga: nueva versión del clásico juego.</a>
                    </div>
                    <p class="intro-not">La reinvención del clásico juego de acción de los 80, llega con gráficos
                        renovados y nuevas mecánicas
                        de juego.
                    </p>
                </div>
                <div class="noticia">
                    <img class="imagen-juego" src="/static/img/The-Legend-Of-Zelda-Ocarina.jpg"
                        alt="img-the-legend-of-Zelda">
                    <div class="a-estilo">
                        <a class="hipervinc-not"
                            href="https://www.tarreo.com/noticias/765772/The-Legend-of-Zelda-Ocarina-of-time-es-el-mejor-juego-de-la-historia-segun-analisis-de-notas-de-distintas-fuentes-recopiladas"
                            target="_blank">The Legend of Zelda: Ocarina of time es el mejor juego de la historia, según
                            análisis de notas de distintas fuentes recopiladas.</a>
                    </div>
                    <p class="intro-not">Un usuario recopiló 14 listas de medios especializados sobre los mejores juegos
                        de la historia.</p>
                </div>
                <div class="noticia">
                    <img class="imagen-juego" src="/static/img/dragons-dogma.jpg" alt="img-dragons-dogma-2">
                    <div class="a-estilo">
                        <a class="hipervinc-not"
                            href="https://www.levelup.com/noticias/784829/Capcom-triunfa-de-nuevo-Dragons-Dogma-2-fue-el-juego-mas-vendido-de-EUA"
                            target="_blank">Capcom triunfa de nuevo: Dragon's Dogma 2 fue el juego más vendido de
                            EUA.</a>
                    </div>
                    <p class="intro-not">El juego de rol y aventura de Hideaki Itsuno se quedó con el primer lugar en
                        marzo.</p>
                </div>
                <div class="noticia">
                    <img class="imagen-juego" src="/static/img/ereban-shadow-legacy.JPG" alt="img-ereban-shadow-legacy">
                    <div class="a-estilo">
                        <a class="hipervinc-not"
                            href="https://www.noticiascaracol.com/videojuegos/resena-ereban-shadow-legacy-rg10"
                            target="_blank">Ereban Shadow Legacy: reseña.</a>
                    </div>
                    <p class="intro-not">Luz, oscuridad, sigilo y ciencia ficción, todo junto en esta nueva entrega del
                        estudio Baby Robot
                        Games.</p>
                </div>
                <div class="noticia">
                    <img class="imagen-juego" src="/static/img/dishonored1.JPG" alt="img-dishonored">
                    <div class="a-estilo">
                        <a class="hipervinc-not"
                            href="https://vandal.elespanol.com/noticia/1350770960/despues-de-11-anos-dishonored-sigue-siendo-una-de-las-mejores-aventuras-de-accion-en-primera-persona-t/"
                            target="_blank">Después de 11 años Dishonored sigue siendo una de las mejores aventuras de
                            acción en
                            primera persona.</a>
                    </div>
                    <p class="intro-not">El juego de Arkane sigue siendo una de las mejores aventuras de acción y sigilo
                        que podemos disfrutar
                        dentro de los simuladores inmersivos. Recordamos las virtudes de esta obra maestra.</p>
                </div>
                <div class="noticia">
                    <img class="imagen-juego" src="/static/img/palworld.JPG" alt="img-palworld">
                    <div class="a-estilo">
                        <a class="hipervinc-not"
                            href="https://es.wired.com/articulos/tips-para-empezar-a-jugar-palworld" target="_blank">6
                            tips para empezar a jugar Palworld, el videojuego más polémico del
                            momento.</a>
                    </div>
                    <p class="intro-not">Durante las primeras horas de Palworld, también conocido como “el Pokémon con
                        armas”, céntrate en
                        sobrevivir cada día, construir tu campamento base y comerte a tus Pals.</p>
                </div>
                <div class="noticia">
                    <img class="imagen-juego" src="/static/img/clash-of-clans.jpg" alt="img-clash-of-clans">
                    <div class="a-estilo">
                        <a class="hipervinc-not"
                            href="https://www.levelup.com/noticias/784784/Clash-of-Clans-Erling-Haaland-es-tan-fan-que-pidio-aparecer-en-el-juego-y-lo-logro"
                            target="_blank">Clash of Clans: Erling Haaland es tan fan que pidió aparecer en el juego y
                            lo
                            logró.</a>
                    </div>
                    <p class="intro-not">El título móvil por primera vez inmortalizará a una persona de la vida real.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div id="cont-grupo-1">
            <div class="box">

                <a href="#">
                    <img id="logo-footer" src="/static/img/logo.jpg" alt="logo">
                </a>

            </div>
            <section id="cont-webjuegos">
                <h2 class="titulo-footer">Comprar Juegos</h2>
                <div>
                    <ul>
                        <li><a class="webs-juegos" href="https://epicgames.com/store" target="_blank">Epic Games</a></li>
                        <li><a class="webs-juegos" href="https://store.steampowered.com/" target="_blank">Steam</a></li>
                        <li><a class="webs-juegos" href="https://www.gog.com/" target="_blank">GOG (Good Old Games)</a></li>
                        <li><a class="webs-juegos" href="https://steamcito.com.ar/" target="_blank">Steamsito</a></li>
                    </ul>
                </div>
            </section>
            <section id="redes">
                <h2 class="titulo-footer"> Redes sociales </h2>
                <div id="cont-redes">
                    <a class="hipervinc-red" href="https://facebook.com" target="_blank">
                        <img class="img-red" src="/static/img/redes-sociales/facebook.png" alt="logo-faceboook">
                    </a>
                    <a class="hipervinc-red" href="https://www.instagram.com" target="_blank">
                        <img class="img-red" src="/static/img/redes-sociales/instagram.png" alt="logo-instagram">
                    </a>
                    <a class="hipervinc-red" href="https://www.youtube.com" target="_blank">
                        <img class="img-red" src="/static/img/redes-sociales/youtube.png" alt="logo-youtube">
                    </a>
                    <a class="hipervinc-red" href="https://www.twitch.tv/" target="_blank">
                        <img class="img-red" src="/static/img/redes-sociales/twitch.png" alt="logo-twitch">
                   
                    </a>
                </div>
            </section>
        </div>
        <div id="cont-grupo-2">
            <p id="derechos">&copy; 2024 <b>Ratón Gamer</b> - Todos los Derechos Reservados.</p>
        </div>
    </footer>


</body>

</html>